﻿@charset "utf-8"; 
/* initialize */


/* ordinary style-------------------------*/
body.ppp-apl
{
    margin: 0px;
    padding: 0px;
    line-height:1.4;
    color:#222;
    font-family:Verdana,Arial,"ＭＳ Ｐゴシック",Helvetica,sans-serif;
    font-size:12px; /* font-size:0.75em; */
    text-decoration: none; 
    
}
.ppp-apl img
{
    border-width: 0px 0px 0px 0px;
}
/* container ------------------------------*/
.ppp-panel
{
    margin:0px 0px 0px 10px;    
    
    }
div.ppp-indent
{
    padding:0px 0px 5px 15px;
    
    }

/* caption  -------------------------------*/
.ppp-caption
{
    font-weight:bold;
    font-size:12pt; /* medium; */
    width:100%;
    color:#DD8800;  /*  #590202; */
}
.ppp-menu-option
{
    valign:center;
    padding:15px 0px 0px 0px;
}

.ppp-caption.title
{
    text-align:left;
    text-indent:0.5em;
    padding:0px;
    border-bottom:3px #FFDEAD double;    /* #BF0404 double; */
    margin:0px 0px 10px 0px;
}

ul.ppp-menu-links
{
  float:right;
  list-style:none;
  padding:0px; margin:0px;
  
}
li.ppp-menu-links
{
    font-size:10pt; /*small;*/
    font-weight:normal;
    float:left;
    margin: 0px 10px;
    padding: 1px;
}

.ppp-label
{
    color:#006666; /* #590202; */
    
    }

/* message ----------------------------------*/
.ppp-msg
{
    font-size:9pt; /*x-small; */
    font-weight:bold;
    color:gray;
    
}
.ppp-msg.error
{
    font-size:10pt; /*small;*/
    color:#cd0a0a;
    margin-left:10px;
    }
.ppp-msg.success
{
    font-size:10pt; /*small;*/
    color:#217bc0;
    margin-left:10px;
    }
    

/* box  -----------------------------------*/
.ppp-box
{
/*    border: 1px #BF0404 solid;    */
    border-top:  1px #F4A460 solid;
    padding-top: 3px;
    padding-left: 3px;
    }
.ppp-box.caption
{
/*
    font-weight:bold;
    font-size:12pt; /* medium; */
    background-color:#BF0404;
    color:#ffffff;
    margin:3px 0px 1px 0px;
*/
    font-weight:bold;
    font-size:12pt; /* medium; */
    background-color:#ffffff;
    color:#F4A460;
    margin:3px 0px 1px 0px;
    
}
/* 入れ子のくくりが発生する場合、oddとevenを交互に使用する */
.ppp-box.odd
{
    padding:5px;
    background-color:#eeffcc; /* #FFEBCD; #FFE9D6; */
}
.ppp-box.odd h3
{
    color:#096;
}
.ppp-box.even
{
    padding:5px;
    background-color:#FFFFFF;
}

.ppp-box-dialog
{
    background-color:#eeeedd !important;
}
.ppp-box-dialog select
{
    width:99%;
}
.ppp-box-dialog .ui-dialog-buttonpane
{
    background-color:#eeeedd;
    }

h3.ppp-switch-header
{
    padding:2px 0px 2px 30px;
    margin:0px 0px 5px 0px;
    }

/* link  -----------------------------------*/
a.ppp-link-item
{
    color: #BF0404;

            
    }
a:visited.ppp-link-item
{
    color: gray;

}

a:hover.ppp-link-item
{
    color: #ffffff;
    border: 0px;
    background-color:#FF7A66;
    text-decoration: none;
}

a.ppp-link-void{
	color: inherit;
}
a:visited.ppp-link-void{
	color: inherit;
}
a:hover.ppp-link-void{
	color: inherit;
	border: 0px;
    background-color:inherit;
    text-decoration: none;
}

/* table  ----------------------------------*/    
.ppp-table
{
    margin:0px 5px 0px 5px;
    }

.ppp-table td
{
    white-space: nowrap;  /* 2012/6/4追加 秋山  */
    }

.ppp-table-head
{
    /* 2013/08/23: 右端のボーダーが太いので下記の設定をコメントアウト */
    /* border-style:none solid none none; */
    font-weight:bold;
    color:#ffffff;
    background-color:#99BFCC; /* 2012/4/17秋山 */
    }
.ppp-table-head tr
{
        padding:2px 15px 2px 15px:       
    }

.ppp-table-even
{
    background-color:  #EEF9FF;   /* 2012/5/7秋山 */
    }
    
.ppp-table-odd
{
    background-color:#ffffff;
    }

.ppp-table-strong{
    background-color:#FFEEBB;  /* 2012/5/15秋山 */   /* #C7FFBF 2012/5/15久保追加 テーブル強調表示用スタイル*/
}

.ppp-table-invalid
{
    background-color:#cccccc ;
    }
.ppp-table-invisible
{
    display:none ;
    }

.ppp-selected
{
    background-color:#FF7A66;
    color:#ffffff;
    }

/* コンボボックス対応 */
.ppp-include-combo-area
{
	position:static !important;
}
.ppp-combo .ajax__combobox_inputcontainer .ajax__combobox_buttoncontainer button
{
	width: 22px !important;
	height: 22px !important;
}
/* リストはまだいまいち */
ul.ppp-list
{
    list-style:square none outside;
}
li.ppp-list-item
{
    font-size:12pt; /* medium; */
    text-align:left;
    font-weight:bold;
} 



/* for menu -----------------------------*/
div#ppp-menu
{
	width:900px;
	height:500px;
    border: 2px #BF0404 solid;
	}
div#ppp-menu-list
{
    width:220px;
    height:100%;
    float:left; 
    padding:0px;
    margin:0px;
    border:1px #BF0404 solid;
    border-style:none solid none none;
}
ul.ppp-menu-list
{
    list-style:none;
    list-style-image:none;
    text-align:left;
    margin: 0px;
    padding: 0px;
}
li.ppp-menu-item
{
    font-size:12pt; /* medium; */
    text-align:left;
    font-weight:bold;
    padding:15px;
}
li.ppp-menu-item a
{
    color: #590202;
    text-decoration: none;
}
li.ppp-menu-item a:visited
{
    color: #590202;
    text-decoration: none;
}
li.ppp-menu-item a:hover
{
    color: #ffffff;
    border: 0px;
    background-color:#FF7A66;
    text-decoration: none;
}

div#ppp-menu-content
{
    text-align:left;
    font-size:10pt; /*small;*/
    padding:20px;
    width:600px;
    float:left;
}
div.ppp-menu-content-item
{

    display : none;

    }
