﻿<%@ Page Title="品目装置メンテナンス" Language="VB" MasterPageFile="~/220_ast/astMaster.master" AutoEventWireup="false" CodeFile="HinSouchiMnt.aspx.vb" Inherits="_220_ast_HinSouchiMnt" %>
<%@ Register src="../parts/UnitItem.ascx" tagname="unitItem" tagprefix="ui" %>
<%@ MasterType VirtualPath="astMaster.master" %>


<asp:Content ID="Head" ContentPlaceHolderID="pppHead" runat="server">
    <script>
        $(function () {
            /* ヘルプ、メニューを消す */
            document.getElementById("masterSubMenuLinks").style.display='none';
        })
        function fncCloseWindow() {
            window.close();
        }
    </script>
<base target="_self" />
</asp:Content>

<asp:Content ID="TITLE" ContentPlaceHolderID="pppPageTitle" runat="server">
    <div style="font-size:14px;font-weight:bold;margin:0px 0px 0px 10px;">品目コード: <%= hdnHIN_CD.Value%> &nbsp;&nbsp; 名称： <%= hdnHIN_TXT.Value%></div>
</asp:Content>

<asp:Content ID="Content" ContentPlaceHolderID="pppContent" Runat="Server" ClientIDMode=Static>
   <asp:Panel id="pnlGFORM__HIN" runat="server" CssClass="ppp-include-combo-area"> <%-- "GFORM"をIDに含むこと。コンボボックス有りの場合、CSSに ppp-include-combo-area 設定 --%>
        <asp:HiddenField ID="hdnDHYO_MDL_KBN" Value=""  runat="server" />
        <asp:HiddenField ID="hdnHIN_CD" Value=""  runat="server" />
        <asp:HiddenField ID="hdnHIN_TXT" Value="" runat="server" />
        <asp:HiddenField ID="hdnHIN_KBN" Value="" runat="server" />
        <asp:HiddenField ID="hdnEXHIN_KBN" Value="" runat="server" />
        <asp:HiddenField ID="hdnVKORG" Value = "" runat="server" />
    </asp:Panel>
   <asp:Panel id="pnlHINSOUCHI" runat="server" CssClass="ppp-include-combo-area" style="margin:0px 0px 0px 10px;width:360px" > <%-- "GFORM"をIDに含むこと。コンボボックス有りの場合、CSSに ppp-include-combo-area 設定 --%>
        <asp:GridView id="grvHinSouchi" runat="server" CssClass="ppp-table" DataKeyNames="HIN_CD, SOUCHI_CD" HeaderStyle-CssClass="ppp-table-head" ShowFooter="false" EnableViewState=true AllowPaging=false AutoGenerateColumns=False AutoGenerateSelectButton="False" AutoGenerateEditButton="false" AutoGenerateDeleteButton="False" >
        <Columns>
                <asp:TemplateField HeaderText="代表" HeaderStyle-Width="50" HeaderStyle-HorizontalAlign="Center" ItemStyle-HorizontalAlign="Center" >
                    <ItemTemplate>
                        <asp:Label Runat="server" Text='<%# Bind("DHYO_SOUCHI_FLG_TXT") %>' ID="DHYO_SOUCHI_FLG_TXT"></asp:Label>
                    </ItemTemplate>
                </asp:TemplateField>
                <asp:BoundField DataField="SOUCHI_CD" HeaderText="装置" HeaderStyle-Width="50" >
                </asp:BoundField>
                <asp:TemplateField HeaderText="プラント" HeaderStyle-Width="60" ItemStyle-HorizontalAlign="Center" >
                    <ItemTemplate>
                        <asp:Label Runat="server" Text='<%# Bind("PLNT_CD") %>' ID="PLNT_CD"></asp:Label>
                    </ItemTemplate>
                </asp:TemplateField>
                <asp:TemplateField HeaderText="ロード" HeaderStyle-Width="60" HeaderStyle-HorizontalAlign="Center" ItemStyle-HorizontalAlign="Right" >
                    <ItemTemplate> 
                        <asp:TextBox ID="txtCHARGE" runat="server" Text='<%# Eval("CHARGE") %>' CssClass="gears-GRequired gears-GNumeric gears-GPeriodPositionOk_BeforeP_4_AfterP_2 gs-number" Width=55 >
                        </asp:TextBox> 
                    </ItemTemplate> 
                </asp:TemplateField>
                <asp:TemplateField HeaderText="ロード単位" HeaderStyle-Width="60" ItemStyle-Width="60" ItemStyle-HorizontalAlign="Center" >
                    <ItemTemplate>
                        <asp:Label Runat="server" Text='<%# Bind("CHARGE_UNIT") %>' ID="lblCHARGE_UNIT"></asp:Label>
                    </ItemTemplate>
                </asp:TemplateField>
                <asp:TemplateField HeaderText="無効" HeaderStyle-Width="50" ItemStyle-Width="50" ItemStyle-HorizontalAlign="Center" >
                    <ItemTemplate>
                        <asp:CheckBox runat="server" ID="chbMK_FLG" Checked='<%# Bind("MK_FLG") %>' />
                    </ItemTemplate>
                </asp:TemplateField>
                <asp:BoundField DataField="UPD_YMD" HeaderText="UPD_YMD">
                </asp:BoundField>
                <asp:BoundField DataField="UPD_HMS" HeaderText="UPD_HMS">
                </asp:BoundField>
                <asp:BoundField DataField="HIN_CD" HeaderText="HIN_CD">
                </asp:BoundField>
                <asp:TemplateField HeaderText="DHYO_SOUCHI_FLG">
                    <ItemTemplate>
                        <asp:Label Runat="server" Text='<%# Bind("DHYO_SOUCHI_FLG") %>' ID="lblDHYO_SOUCHI_FLG"></asp:Label>
                    </ItemTemplate>
                </asp:TemplateField>
                <asp:BoundField DataField="CHARGE_UNIT" HeaderText="CHARGE_UNIT">
                </asp:BoundField>

            </Columns>
        </asp:GridView>
        <asp:Panel ID="pnlAddNew" runat="server" class="ppp-include-combo-area" style="width:360px;">
            <table class="ppp-table" style="border-collapse:collapse;" ID="tblAddNew" runat="server" >
                <tr>
                <td style="width:50px;" align="right"><asp:Label ID="lblSOUCHI_CD" runat="server" Text="装置："></asp:Label></td>
                <td style="width:50px;" align="left"><asp:DropDownList ID="ddlSOUCHI_CD" runat="server" ></asp:DropDownList></td>
                <td style="width:60px;" align="right"  ID="tdCHARGE_TITLE" ><asp:Label ID="lblCHARGE" runat="server" Text="ロード："></asp:Label></td>
                <td style="width:60px;" align="right"  ID="tdCHARGE" ><asp:Textbox ID="txtCHARGE__NEW" runat="server" CssClass="gears-GRequired gears-GNumeric gears-GPeriodPositionOk_BeforeP_4_AfterP_2 " Width="60" ></asp:Textbox></td>
                <td style="width:60px;" align="center" ID="tdCHARGE_UNIT" ><asp:Label ID="lblCHARGE_UNIT__GCON" runat="server" ></asp:Label></td>
                <td width="50px" align="center"><asp:Button ID="btnAddNew" runat="server" Text="追加" /></td>
                </tr>
            </table>
        </asp:Panel>
        <asp:HiddenField ID="hdnUpdFunc" Value="" runat="server" />
        <br style="clear:both">
        <div style="float:right;" >
            <asp:Button ID="btnUpdate" runat="server" Text=" 保存 " />&nbsp;&nbsp;&nbsp;
            <asp:Button ID="btnClose" runat="server" Text="　閉じる　" />
        </div>
    </asp:Panel>
    <asp:Panel id="pnlMsg" runat="server" style="margin:0px 0px 0px 10px;width:480px" > 
        <asp:Label ID="lblMsg" runat="server" Text="" CssClass="ppp-msg success"></asp:Label>
    </asp:Panel>
    <br style="clear:both">
    
</asp:Content>