﻿<%@ Page Language="VB" MasterPageFile="astMaster.master" AutoEventWireup="false"
    CodeFile="JishoAdjustDummy.aspx.vb" Inherits="_220_ast_JishoAdjustDummy" %>

<%@ Register Src="../parts/UnitItem.ascx" TagName="unitItem" TagPrefix="ui" %>
<%@ MasterType VirtualPath="astMaster.master" %>
<asp:Content ID="clientHead" ContentPlaceHolderID="pppHead" runat="Server" ClientIDMode="Static">
    <!-- headのスクリプト処理箇所。必要なJavaScript処理などがあればここに記載-->
    <title>自消計画数量意思入れ</title>
</asp:Content>
<asp:Content ID="clientPageTitle" ContentPlaceHolderID="pppPageTitle" runat="Server"
    ClientIDMode="Static">
    自消計画数量意思入れ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <asp:Label ID="lblMsg" runat="server" Text="" CssClass="ppp-msg error" />
</asp:Content>
<asp:Content ID="clientCenter" ContentPlaceHolderID="pppContent" runat="Server" ClientIDMode="Static">
<center>

<br/>
<h3>ダミーページです</h3>
<br/>
<br/>

</center>

</asp:Content>
